extends layout

block content

  div#headline.d-flex.flex-column.align-items-center

    h1.mb-0.text-center #{title}

    div.text-center.w-50.ml-auto.mr-auto.mb-2
      p.mb-0 Custom unique beautiful guitar pedals
      hr

    div#message
      h2 #{message}